html, body {
    height: 100%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}
footer {
    align-self: center
}
a:link, a:visited {
    color: grey;
}
.content {
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    width: 750px;
}
.page-content {
    flex: 2;
}
.post {
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}
.post:hover {
    box-shadow: 0px 1px gray;
}
.post a:link, .post a:visited, header a:link, header a:visited {
    color: black;
    text-decoration: none;
}