<p>I am currently working on making this page pretty... </p>

<p>
    You can reach me on
    <a href="https://www.linkedin.com/in/smaranda-fournier">LinkedIn</a> or check out my
    <a href="https://github.com/smaraf">GitHub account</a>
</p>
<p>
    <a href="https://giphy.com/gifs/JIX9t2j0ZTN9S">
        <img src="https://media3.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif" title="WIP" alt="WIP" />
        <br/>via GIPHY</a>
</p>