<p>Find out more
    <a href="<%- url_for('about-me') %>">about me.</a>
</p>

<p>
    Reach me on
    <a href="https://www.linkedin.com/in/smaranda-fournier">LinkedIn</a> or check out my
    <a href="https://github.com/smaraf">GitHub account</a>
</p>